* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.main-box {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: stretch;
    align-content: start;
}

.header {
    height: 70px;
    background-color: white;
    width: 100%;
    align-self: auto;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header .name-app {
    color: black;
     padding: 0 50px;
    font-size: 40px;
    font-weight: bold;
}

.header #name-avt {
    display: flex;
    margin-left: auto;
    margin-right: 40px;
    height: 50%;
    align-items: center;
    width: auto;
    background-color: rgb(56, 114, 95);
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.header #name-avt:hover {
    background-color: rgb(31, 65, 54);
}

.header #name-avt a {
    padding: 20px 25px;
    text-decoration: none;
    color: white;
}

.header #name-avt i {
    font-size: 12px;
}

.sidebar {
    margin-top: 70px;
    height: calc(100% - 70px);
    background-color: rgb(32, 104, 68);
    width: 15%;
    align-self: auto;
    box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.3);
}

.sidebar .sidebar-btn{
    width: 100%;
    margin-top: 45px;
    background-color: rgb(41, 140, 107);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.sidebar #btn li {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    transition: background 0.2s;
}

.sidebar #btn li.active{
    background-color: rgb(9, 57, 41);
    border-left: 4px solid #95d5b2;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.sidebar #btn li:hover{
    background-color: rgb(9, 57, 41);
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.sidebar #btn .button {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.content {
    margin-top: 70px;    
    height: calc(100% - 70px);
    background-color: rgb(219, 219, 219);
    width: 85%;
    align-self: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.content .box-content{ 
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    align-content: flex-start;
    position: relative;
}

.ti-angle-right {
    font-size: 12px;
}

/* CO2 */
.content #co2 .chart-content {
    width: calc(73% - 10px);
    height: 58%;
    background-color: #ffffff;
    border-radius: 20px;
}

.content #co2 .co2-content {
    width: calc(25% - 10px);
    height: 20%;
    background-color: #ffffff;
    border-radius: 20px;
    position: absolute;
   top: 0;
    right: 0;
}

.content #co2 .insert-content {
    width: calc(25% - 10px);
    height: 75%;
    background-color: #ffffff;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.content #co2 .history-content {
    background-color: rgb(255, 255, 255);
    width: calc(73% - 10px);
    height: 36%;
    position: absolute; 
    bottom: 0;       
    left: 0; 
    border-radius: 20px;  
}
/* CO2 */

/* Market */
.content #market .trader-content {
    width: 65%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 20px;
}

.content #market .order-content {
    width: calc(35% - 10px);
    height: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    position: absolute;
    right: 0;
    top: 0;
}
/* Market */

/* Wallet */
.content .box-content#wallet {
    background-color: blue;
}
/* Wallet */

/* Transaction */
.content .box-content#transaction {
    background-color: #952020;
}
/* Transaction */

/* Verticify */
.content .box-content#verticify {
    background-color: #1b6da7;
}
/* Verticify */

/* Information */
.content .box-content#verticify {
    background-color: #1b6da7;
}
/* Information */